.code-playground {
  background: $color-text-black;
  color: $color-super-light-gray;

  &__inner {
    padding: $space-md;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      margin-top: 0;
    }

    button {
      display: flex;
      align-items: center;

      text-transform: uppercase;
      margin-top: 0;
      padding: $space-xs $space-sm;

      font-family: $font-family-mono;
      transition: 0.3s;
      border-radius: $border-radius-sm;

      &:hover {
        background-color: $color-light-gray;
        transition: 0.3s;
      }

      div.arrow-right {
        margin-right: $space-xs;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 10px solid $color-black;
      }

    }
  }
  

  .CodeMirror {
    border: 1px solid #eee;
    height: 20rem;

    .CodeMirror-sizer {
      height: 20rem;
    }

    * {
      +* {
        margin-top: 0;
      }
    }
  }

  .console-header {
    display: flex;
    justify-content: space-between;

    .statistic {
      margin-top: 0;

      p {
        margin-top: 0;
        font-size: $font-size-sm;
      }
    }
  }

  .console {
    li {
      margin-top: 0;
      margin-bottom: $space-xs;
      list-style-type: none;

      &:before {
        content: '>';
        margin-left: -35px;
        margin-right: 10px;
      }
    }

    span.comment {
      color: $color-text-blue;
    }

    span.yellow {
      color: $color-text-yellow;
    }

  }
}