@import './variables.scss';

/* BODY */

.contentbox {
    overflow-y: scroll;
    height: 80vh;
    background-color: $white;
    border: solid 0.5px $light-grey;
    margin: 3%;
}

.content {
    font-family: $font-stack-content;
    padding: 5%;
}

/* TEXT */

h3 {
    font-family: $font-stack;
    line-height: 1.5;
    font-size: 2rem;
    font-weight: bold;
}

p {
    font-family: $font-stack-content;
    line-height: 1.8;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 5px;
    border-radius: 0px;
}
  
::-webkit-scrollbar-track {
    color: $white;
}

::-webkit-scrollbar-thumb {
    background: $medium-grey; 
    border-radius: 0px;
}
  