/* COLORS */
$white: #FFFFFF;
$white-grey: whitesmoke;
$black: #0a0a0a;
$dark-grey: #2e2e2e;
$medium-grey: #474747;
$light-grey: #D4D4D4;


/* FONTS */
$font-stack: 'Roboto Mono', monospace;
$font-stack-content: 'Noto Sans', sans-serif;


