.blog-preview {
  position: relative;
  padding-bottom: $space-md;
  margin-bottom: $space-lg;

  a {
    text-decoration: none;
    font-size: $font-size-xxl;
    font-weight: bold;
    color: $color-black;

    &:hover {
      border-bottom: 2px dotted;
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;

    span {
      margin-top: 0;

      color: $color-dark-gray;

      &:nth-child(1) {
        margin-right: $space-md;
        text-transform: uppercase;
      }

      &:nth-child(2) {
        padding: 0 $space-xs $space-xxs $space-xs;
        border: black 1px solid;
        border-radius: $border-radius-md;
      }
    }
  }

  &:after {
    content: "";
    position: absolute;
    width: 10rem;
    bottom: 0;
    left: 0;
    border-top: 0.5rem solid black;
    z-index: -1;
  }

  @include media-screen-small {
    a {
      font-size: $font-size-xl;
    }
  }
}

.blog-preview.announcement {

  a:hover {
    border-color: $color-blue;
    text-decoration-color: $color-blue;
    color: $color-blue;
  }

  span.category {
    color: $color-blue;
    border-color: $color-blue;
  }
}

.blog-preview.community {
  a:hover {
    border-color: $color-purple;
    text-decoration-color: $color-purple;
    color: $color-purple;
  }

  span.category {
    color: $color-purple;
    border-color: $color-purple;
  }
}

.blog-preview.ecosystem {
  a:hover {
    border-color: $color-light-blue;
    text-decoration-color: $color-light-blue;
    color: $color-light-blue;
  }

  span.category {
    color: $color-light-blue;
    border-color: $color-light-blue;
  }
}