.card-link-section {
  padding: $space-lg 0;

  @include media-screen-small {
    padding: $space-xs 0;
  }

  h1 {
    font-size: $font-size-xxxl;
    line-height: $font-size-xxxl * 1.5;
    color: $color-text-black;

    @include media-screen-small {
      font-size: $font-size-xxl;
      line-height: $font-size-xxl * 1.2;
    }
  }

  a.btn {
    margin-top: $space-md;
    max-width: 20rem;
    transition: 0.3s;
  }

  a.btn:hover {
    background-color: whitesmoke;
    transition: 0.3s;
  }

  &__inner {
    -webkit-box-shadow: 8px 0px 0px #222326;
    -moz-box-shadow: 8px 8px 0px 0px #222326;
    box-shadow: 8px 8px 0px 0px #222326;

    border: black 1px solid;
    border-radius: 5px;

    background: white;
  }

  &__content.center {
    max-width: 60ch;
    padding: $space-lg $space-md;
    margin: auto;

    h1,
    p {
      text-align: center;
      color: $color-text-black
    }

    h1 {
      margin-bottom: $space-md;
    }

    p {
      margin-top: 0;
    }

    a.btn {
      margin-left: auto;
      margin-right: auto;
    }

    @include media-screen-small {
      padding: $space-md;
      padding-top: $space-lg;
      padding-bottom: $space-lg;
    }
  }

  &__content.left {
    padding: $space-lg;

    p {
      max-width: none;
    }

    @include media-screen-small {
      padding: $space-md;
      padding-top: $space-md;
      padding-bottom: $space-md;

      h1 {
        line-height: $font-size-xxl * 1.2;
      }
    }
  }

  &__content.right {
    padding: $space-lg;
    text-align: right;

    a.btn {
      margin-left: auto;
    }

    h1 {
      text-align: right;
    }

    p {
      max-width: none;
    }

    @include media-screen-small {
      padding: $space-md;
      padding-top: $space-md;
      padding-bottom: $space-md;

      h1 {
        line-height: $font-size-xxl * 1.2;
      }
    }

  }
}