.card-link-section {
  padding: $space-lg 0;

  @include media-screen-small {
    padding: $space-md 0;
  }

  h1 {
    font-size: $font-size-xxxl;
    line-height: $font-size-xxxl;

    @include media-screen-small {
      font-size: $font-size-xxl;
      line-height: $font-size-xxl * 1.5;
    }
  }

  a.btn {
    margin-top: $space-lg;
    max-width: 20rem;
  }

  &__inner {
    -webkit-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.75);

    background: white;
  }

  &__content.center {
    max-width: 60ch;
    padding: $space-xl $space-md;
    margin: auto;

    h1,
    p {
      text-align: center;
    }

    h1 {
      margin-bottom: $space-md;
    }

    p {
      margin-top: 0;
    }

    a.btn {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__content.left {
    padding: $space-lg;

    p {
      max-width: none;
    }
  }

  &__content.right {
    padding: $space-lg;
    text-align: right;


    h1 {
      text-align: right;
    }

    p {
      max-width: none;
    }
  }
}