.cookies-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;

  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

  h3 {
    margin-top: 0;
  }

  a {
    font-size: $font-size-sm;
    color: $color-black;
  }

  p {
    max-width: none;
  }

  &__inner {
    @include layout_switcher(50rem);
    padding: $space-md;
  }
}

.cookies-banner__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cookies-banner.approved .cookies-banner__actions {
  flex-direction: column;
}

.cookies-banner__actions {
  display: flex;

  justify-content: center;
  align-items: center;
  max-width: 25rem;

  button {
    margin-top: 0;
    margin-right: $space-md;
    transition: 0.3s;
  }

  @media screen and (max-width: 55rem) {
    max-width: none;
  }
}

.secondary {
  transition: 0.3s;
  font-family: $font-family-mono;

  &:hover {
    background-color: $color-super-light-gray;
    transition: 0.3s;
  }
}

.cookies-banner.closed {
  display: none;
}