.md-content {
  hr {
    margin-top: $space-sm;
  }

  p {
    max-width: none;
  }

  img[src*="#fullwidth"] {
    width: 100%;
    object-fit: cover;
  }

  img[src*="#thumbnail"] {
    max-width: 20rem;
    height: auto;
    object-fit: contain;
  }

  img[src*="#center"] {
    display: block;
    margin: 0 auto;
  }
}