.md-content {
  hr.slash {
    border: none;
    margin-top: $space-sm;

    &:before {
      content: '////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////';
      font-size: $font-size-md;
    }
  }

  p {
    max-width: none;
  }

  img {
    width: 100%;
    object-fit: cover;
  }
}