.newsletter-signup {
  text-align: center;

  &__inner {
    max-width: 50rem;
    padding: $space-md;
    padding-top: $space-sm;
    margin: 0 auto;
  }

  form {
    display: flex;

    input {
      box-shadow: 0 6px $color-text-black;
      border: $border-width-sm solid $color-text-black;
      border-radius: $border-radius-lg 0 0 $border-radius-lg;
      box-sizing: border-box;
      font: inherit;
      font-size: $font-size-md;
      padding: 0.3em 0.8em;
      resize: vertical;
      width: 100%;
    }

    button {
      margin-top: 0;
      text-transform: uppercase;
      font-size: $font-size-md;
      transition: 0.3s;
      cursor: pointer;

      border-radius: 0 $border-radius-lg $border-radius-lg 0;
    }

    button:hover {
      transition: 0.3s;
    }
  }
}