.title-section {
  background: white;

  width: 100vw;
  max-width: none;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  h2 {
    text-align: center;
    font-weight: bold;
  }

  &__inner {
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.15);

    padding: $space-md * 1.5;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: $page-container-width;
    margin: $space-md auto 0 auto;

    >* {
      margin-top: 0;
    }
  }
}