.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  &__inner {
    display: flex;
    overflow: hidden;

    flex: 1 0 auto;

    .main {
      width: 100%;
      margin-top: 0;
      padding: 0 $space-md;
    }
  }
}

nav,
div {
  outline: 1px solid red;
}