footer {
  background: $color-dark-gray;
  padding: $space-lg $space-md;
}

.footer__inner {
  max-width: $page-container-width;
  margin-left: auto;
  margin-right: auto;

  hr {
    margin-top: $space-md;
  }
}

.footer__content {
  @include layout-grid($space-md*1.5);

  color: $color-super-light-gray;

  a {
    text-decoration: none;
    color: $color-super-light-gray;
    line-height: 0.2rem;
    font-size: $font-size-sm;    

    div {
      display: flex;
      align-items: center;
    }

    span {
      margin-top: 0;
      margin-left: $space-sm;
    }
  }
}

.footer__section {
  .links {
    display: flex;
    flex-direction: column;
  }
}

.space {
  margin-left: $space-lg;
}