.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  &__inner {
    display: flex;
    overflow: hidden;

    flex: 1 0 auto;

    .page {
      width: 100%;
      margin-top: 0;
      padding: 0 $space-md;
      // background: $color-super-light-gray;
    }

    .page__content {
      max-width: $page-container-width;
      margin-top: $navbar-height + $space-md;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

// FOR DEV
// nav,
// div {
//   outline: 1px solid red;
// }