.menu-section {
  h5 {
    font-weight: 400;
    text-transform: uppercase;
    color: $color-text-gray;
  }

  .tree-menu__container {
    margin-top: 0;
  }
}

.rstm-tree-item {
  font-size: 16px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;

  &:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
  }
}