$sidebar-width: 22rem;

.sidebar {
  transition: width $duration-short;

  width: 0;
  margin: 0;
  z-index: 11;

  nav {
    position: fixed;

    z-index: 11;
    width: 0;

    background: white;
  }

  .icon {
    height: max-content;
    width: max-content;

    margin-left: $space-md;
    cursor: pointer;

    div {
      width: 27px;
      height: 2px;
      background-color: black;

      +* {
        margin-top: 0.5rem;
      }
    }
  }

  .close-icon {
    display: none;

    width: max-content;
    margin-left: auto;
    padding: $space-sm;
    text-align: right;
    cursor: pointer;
  }

  &__content {
    margin-top: $navbar-height;
    transition: transform $duration-short;
    width: $sidebar-width;

    background: white;

    &__inner {
      padding: 0 $space-md $space-md $space-md;
      padding-top: $space-sm + $space-md;

      @include media-screen-small {
        padding-top: $space-md;
      }
    }
  }

  &__content.closed {
    transform: translateX(-100%);
  }

  @include media-screen-small {
    nav {
      z-index: 10;
    }

    .close-icon {
      display: block;
      padding-top: 25px;
      padding-right: 20px;
    }

    &__content {
      position: fixed;
      overflow: scroll;
      margin: 0;
      /* Hidden by default */
      width: 100%;
      /* Full width (cover the whole page) */
      height: 100%;
      /* Full height (cover the whole page) */
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      -moz-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
      -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
      transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
    }

    &__content.closed {
      transform: none;
      // right: 200%;
      left: -100%;
    }

    &__content.open {
      // right: 0;
      left: 0;
    }
  }
}

.sidebar.open {
  width: $sidebar-width;

  nav {
    width: $sidebar-width;
  }

  @include media-screen-small {
    nav {
      width: 0;
    }

    width: 0;
  }
}