$ICON_SIZE: 2rem;
$DEFAULT_PADDING: 0.75rem;

.rstm-toggle-icon {
  display: inline-block;

  &-symbol {
    width: $ICON_SIZE;
    height: $ICON_SIZE;
    text-align: center;
    line-height: $ICON_SIZE;
  }
}

.rstm-tree-item-group {
  list-style-type: none;
  padding-left: 0;
  text-align: left;
  width: 100%;
}

.tree-item-container {
  margin-top: 0;
}

.rstm-tree-item {
  position: relative;

  padding: 0.5rem 1rem;
  cursor: pointer;
  color: $color-text-black;
  font-size: $font-size-md;
  font-weight: 400;
  background: none;
  box-shadow: none;
  z-index: unset;
  position: relative;

  &--active {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-style: dotted;

    &:before {
      content: "•";
      position: absolute;
      left: 3.2rem;

      display: inline-block;
    }
  }

  &--focused {
    z-index: 999;
  }
}

.rstm-tree-item--active[style="padding-left: 2.75rem;"] {
  &:before {
    left: 1.35rem;
    top: 1.5rem;
  }
}

.tree-item-container.header .rstm-tree-item {
  padding: 0.75rem 1rem;

  font-size: $font-size-lg;
  font-weight: bold;
}

.tree-item-container.new .rstm-tree-item {
  &:after {
    content: "{new}";
    margin-left: $space-xs;
    color: $color-dark-blue;
    font-size: $font-size-sm;
    font-weight: 400;
  }
}

.rstm-search {
  padding: 1rem 1.5rem;
  border: none;
  width: 100%;
}