// These selectors create even vertical spacing by clearing margins then adding
// them back only for elements that are siblings of other elements, using the
// "lobotomized owl" selector (* + *). The specificity is 0-0-0-0 so these can
// be easily overriden by other selectors later in the CSS.
* {
  box-sizing: border-box;
  margin-bottom: 0;
  margin-top: 0;

  +* {
    margin-top: $line-height-default * 1em;
  }
}

body {
  font-family: $font-family-mono;
  letter-spacing: 0.025em;
  line-height: $line-height-default;
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  height: $navbar-height;
}

h1 {
  font-size: $font-size-xxl;
}

h2 {
  font-size: $font-size-xl;
  font-weight: 400;
}

h3 {
  font-size: $font-size-lg;
}

h4 {
  font-size: $font-size-md;
}

p,
pre {
  // Restrict paragraph measure by default to ensure readability.
  max-width: $max-measure;
}

// link with button style
a.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background: white;
  color: $color-text-black;
  padding: $space-xxs $space-md;

  border: $border-width-sm solid;
  border-bottom: $border-width-lg solid;
  border-color: $color-text-black;
  border-radius: $border-radius-sm;

  font-size: $font-size-md;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  &:hover {
    background: $color-light-button-hover;
  }

  &:active {
    transform: translateY(4px);
  }
}

a.btn.primary {
  background: $color-darker-button;
  color: white;

  &:hover {
    background: $color-darker-button-hover;
  }
}