// These selectors create even vertical spacing by clearing margins then adding
// them back only for elements that are siblings of other elements, using the
// "lobotomized owl" selector (* + *). The specificity is 0-0-0-0 so these can
// be easily overriden by other selectors later in the CSS.
* {
  box-sizing: border-box;
  margin-bottom: 0;
  margin-top: 0;

  +* {
    margin-top: $line-height-default * 1em;
  }
}

body {
  font-family: $font-family-mono;
  letter-spacing: 0.025em;
  line-height: $line-height-default;
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  height: $navbar-height;
}

h1 {
  font-size: $font-size-xxl;
}

h2 {
  font-size: $font-size-xl;
  font-weight: 400;
}

h3 {
  font-size: $font-size-lg;
}

h4 {
  font-size: $font-size-md;
}

p {
  font-family: $font-family-sans;
}
p,
pre {
  // Restrict paragraph measure by default to ensure readability.
  max-width: $max-measure;
}

pre {
  font-family: $font-family-mono;
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
}