// link with button style
a.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background: white;
  color: $color-text-black;
  padding: $space-xxs $space-md;

  box-shadow: 0 6px $color-text-black;
  border: $border-width-sm solid $color-text-black;
  border-radius: $border-radius-sm;

  font-size: $font-size-md;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  &:hover {
    background: $color-light-button-hover;
  }

  &:active {
    box-shadow: 0 4px $color-text-black;
    transform: translateY(4px);
  }
}

a.btn.primary {
  background: $color-darker-button;
  color: white;

  &:hover {
    background: $color-darker-button-hover;
  }
}