@import "pages/404";

@import "pages/blog/index";
@import "pages/blog/post";

@import "pages/code-playground";

@import "pages/wallet/index";
@import "pages/wallet/process";
@import "pages/wallet/download";
@import "pages/wallet/complete";