$font-family-mono: "Roboto Mono",
monospace;
$font-family-sans: "Work Sans",
sans-serif;

// Font sizes
$font-size-sm: 0.8rem;
$font-size-md: 1.0rem;
$font-size-lg: 1.3rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2.5rem;
$font-size-xxxl: 4rem;

// Space sizes
$line-height-default: 1.666;
$line-height-medium: 1.2;


$space-md: $line-height-default * 1rem;
$space-lg: $space-md * 3;
$space-xl: $space-lg * 2;
$space-sm: $space-md / 2;
$space-xs: $space-sm / 2;
$space-xxs: $space-xs / 3;

$border-radius-lg: 0.5rem;
$border-radius-md: 0.3125rem;
$border-radius-sm: 0.2rem;

$border-width-sm: 1.5px;
$border-width-lg: 7px;

// animation
$duration-short: 0.4s;

// Page Layout
$navbar-height: 5rem;
$page-container-width: 80rem;
$max-measure: 70ch;

// Color
$color-black: #222326;
$color-light-gray: #DADADA;
$color-super-light-gray: #D5D5D5;
$color-dark-gray: #646464;
$color-gray: #9b9b9b;
$color-blue: #002DFF;
$color-light-blue: #0BD0D0;
$color-red: #FF6F6F;
$color-purple: #9529BB;


$color-light-button-hover: rgb(63, 57, 57);
$color-darker-button: #646464;
$color-darker-button-hover: #2E2E2E;

$color-text-gray: #828282;
$color-text-black: #222326;
$color-text-blue: #8799e5;
$color-text-yellow: #e2c15f;