$font-family-mono: "Roboto Mono",
monospace;

// Font sizes
$font-size-sm: 0.8rem;
$font-size-md: 1.0rem;
$font-size-lg: 1.3rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2rem;

// Space sizes
$line-height-default: 1.666;

$space-md: $line-height-default * 1rem;
$space-sm: $space-md / 2;
$space-xs: $space-sm / 2;
$space-xxs: $space-xs / 3;

$border-radius-md: 0.3125rem;

// Page Layout
$navbar-height: 4.5rem;
$page-container-width: 80rem;
$max-measure: 70ch;

// Color
$color-light-gray: #DADADA;
$color-blue: #8FA3FF;

$color-text-gray: #828282;
$color-text-black: #222326;